body, .new-submit-button, .page-container, .pet, form{
    background-color: #FEFFEA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, p, div, a{
    font-family: sans-serif;
    color: #093824;
}

a{
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    color: #178C59;
}

.pet{
    padding: 50px;
}

.pets-container{
    display: flex;
    justify-content: center;
} 

img{
    height: 450px;
    width: 300px;
}
