<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit a Fact</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="/facts" method="POST">
        <h1>Submit Facts</h1>
        <p>If you have some fun animal facts you'd like to share, please submit them!</p>
        <label for="submitter" id="name-label">Name</label>
        <input type="text" name="submitter" id="name">
        <label for="fact" id="fact-label">Fact</label>
        <input type="text" name="fact" id="fact">
        <button>Submit the fact</button>
        <a href="/pets">Go Back</a>
    </form>
</body>
</html>